<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--    <bean id="Collegeinfo" class="org.example.entity.University">

        </bean>-->
    <bean id="student1" class="org.example.Entity.Student">

        <constructor-arg value="101"/>
        <constructor-arg value="Siba"/>
        <constructor-arg value="MCA"/>
        <constructor-arg value="114"/>

        <!--        <property name="University" ref="Colleheinfo">
                </property>-->

        <!--        <property name="University">-->

        <!--            <bean id="univ" class="org.example.entity.University">-->

        <!--                <property name="uname" value="CUTM"/>-->
        <!--                <property name="ucode" value="CT_ODISHA"/>-->

        <!--            </bean>-->
        <!--        </property>-->

    </bean>

</beans>